:root {
    --primary-color: #D81B60;
    /* Pink */
    --secondary-color: #AD1457;
    /* Darker Pink */
    --accent-color: #000000;
    /* Black */
    --text-dark: #000000;
}

.navbar .logo {
    color: #000;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-content {
    z-index: 2;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.feature-icon {
    background-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(216, 27, 96, 0.3);
}

.plans {
    background: linear-gradient(135deg, #000000 0%, #333333 100%);
}

footer {
    background-color: #000000;
}

.section-pink {
    background-color: #FFF0F5;
    padding: 80px 0;
}

.pink-text {
    color: var(--primary-color);
    font-weight: bold;
}

/* Testimonials specific for noivas */
.testimonial-img {
    border-color: var(--primary-color);
}

.plan-card:hover {
    border-color: var(--primary-color);
}

.btn-vaga {
    font-size: 1.2rem;
    padding: 20px;
    display: block;
    width: 100%;
}

@media (max-width: 768px) {
    .btn-vaga {
        font-size: 1rem !important;
        padding: 15px 10px !important;
    }

    .about-text h2 {
        font-size: 2.2rem;
    }

    .hero-content {
        background: linear-gradient(to top, rgb(121 80 104) 0%, rgb(146 40 78 / 70%) 60%, transparent 100%) !important;
    }
}